@model myapp.Models.ViewModels.CreateRequestViewModel

<div id="material-fields-container">
    <hr class="my-4">
    <h5>Material Details</h5>
    <div class="row g-3 mb-4">
        <!-- ItemCode -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="ItemCode" class="form-label"></label>
                <input asp-for="ItemCode" class="form-control" />
                <span asp-validation-for="ItemCode" class="text-danger"></span>
            </div>
        </div>
        <!-- EnglishMatDescription -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="EnglishMatDescription" class="form-label"></label>
                <input asp-for="EnglishMatDescription" class="form-control" />
                <span asp-validation-for="EnglishMatDescription" class="text-danger"></span>
            </div>
        </div>
        <!-- ModelName -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="ModelName" class="form-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
        </div>
        <!-- BaseUnit -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="BaseUnit" class="form-label"></label>
                <input asp-for="BaseUnit" class="form-control" />
                <span asp-validation-for="BaseUnit" class="text-danger"></span>
            </div>
        </div>
        <!-- MaterialGroup -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="MaterialGroup" class="form-label"></label>
                <input asp-for="MaterialGroup" class="form-control" />
                <span asp-validation-for="MaterialGroup" class="text-danger"></span>
            </div>
        </div>
        <!-- ExternalMaterialGroup -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="ExternalMaterialGroup" class="form-label"></label>
                <input asp-for="ExternalMaterialGroup" class="form-control" />
                <span asp-validation-for="ExternalMaterialGroup" class="text-danger"></span>
            </div>
        </div>
        <!-- DivisionCode -->
        <div class="col-md-6" data-types="SM,FG">
            <div class="form-group">
                <label asp-for="DivisionCode" class="form-label"></label>
                <input asp-for="DivisionCode" class="form-control" />
                <span asp-validation-for="DivisionCode" class="text-danger"></span>
            </div>
        </div>
        <!-- ProfitCenter -->
        <div class="col-md-6" data-types="SM,FG">
            <div class="form-group">
                <label asp-for="ProfitCenter" class="form-label"></label>
                <input asp-for="ProfitCenter" class="form-control" />
                <span asp-validation-for="ProfitCenter" class="text-danger"></span>
            </div>
        </div>
        <!-- DistributionChannel -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="DistributionChannel" class="form-label"></label>
                <input asp-for="DistributionChannel" class="form-control" />
                <span asp-validation-for="DistributionChannel" class="text-danger"></span>
            </div>
        </div>
        <!-- BoiCode -->
        <div class="col-md-6" id="boi-code-container" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="BoiCode" class="form-label"></label>
                <input asp-for="BoiCode" class="form-control" />
                <span asp-validation-for="BoiCode" class="text-danger"></span>
            </div>
        </div>
        <!-- MrpController -->
        <div class="col-md-6" data-types="SM,ToolingB,BOM,AddStorage,DistributionChanel,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="MrpController" class="form-label"></label>
                <input asp-for="MrpController" class="form-control" />
                <span asp-validation-for="MrpController" class="text-danger"></span>
            </div>
        </div>
        <!-- StorageLocation -->
        <div class="col-md-6" data-types="SM,ToolingB,BOM,AddStorage,DistributionChanel,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="StorageLocation" class="form-label"></label>
                <input asp-for="StorageLocation" class="form-control" />
                <span asp-validation-for="StorageLocation" class="text-danger"></span>
            </div>
        </div>
        <!-- ProductionSupervisor -->
        <div class="col-md-6" data-types="SM,ToolingB,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="ProductionSupervisor" class="form-label"></label>
                <input asp-for="ProductionSupervisor" class="form-control" />
                <span asp-validation-for="ProductionSupervisor" class="text-danger"></span>
            </div>
        </div>
        <!-- CostingLotSize -->
        <div class="col-md-6" data-types="SM,ToolingB,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="CostingLotSize" class="form-label"></label>
                <input asp-for="CostingLotSize" class="form-control" />
                <span asp-validation-for="CostingLotSize" class="text-danger"></span>
            </div>
        </div>
        <!-- ValClass -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="ValClass" class="form-label"></label>
                <input asp-for="ValClass" class="form-control" />
                <span asp-validation-for="ValClass" class="text-danger"></span>
            </div>
        </div>
        <!-- StandardPack -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="StandardPack" class="form-label"></label>
                <input asp-for="StandardPack" class="form-control" />
                <span asp-validation-for="StandardPack" class="text-danger"></span>
            </div>
        </div>
        <!-- BoiDescription -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="BoiDescription" class="form-label"></label>
                <input asp-for="BoiDescription" class="form-control" />
                <span asp-validation-for="BoiDescription" class="text-danger"></span>
            </div>
        </div>
        <!-- MakerMfrPartNumber -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="MakerMfrPartNumber" class="form-label"></label>
                <input asp-for="MakerMfrPartNumber" class="form-control" />
                <span asp-validation-for="MakerMfrPartNumber" class="text-danger"></span>
            </div>
        </div>
        <!-- CommCodeTariffCode -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="CommCodeTariffCode" class="form-label"></label>
                <input asp-for="CommCodeTariffCode" class="form-control" />
                <span asp-validation-for="CommCodeTariffCode" class="text-danger"></span>
            </div>
        </div>
        <!-- TraffCodePercentage -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="TraffCodePercentage" class="form-label"></label>
                <input asp-for="TraffCodePercentage" class="form-control" />
                <span asp-validation-for="TraffCodePercentage" class="text-danger"></span>
            </div>
        </div>
        <!-- StorageLocationB1 -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="StorageLocationB1" class="form-label"></label>
                <input asp-for="StorageLocationB1" class="form-control" />
                <span asp-validation-for="StorageLocationB1" class="text-danger"></span>
            </div>
        </div>
        <!-- PriceControl -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="PriceControl" class="form-label"></label>
                <input asp-for="PriceControl" class="form-control" />
                <span asp-validation-for="PriceControl" class="text-danger"></span>
            </div>
        </div>
        <!-- Currency -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="Currency" class="form-label"></label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
        </div>
        <!-- SupplierCode -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="SupplierCode" class="form-label"></label>
                <input asp-for="SupplierCode" class="form-control" />
                <span asp-validation-for="SupplierCode" class="text-danger"></span>
            </div>
        </div>
        <!-- MatType -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="MatType" class="form-label"></label>
                <input asp-for="MatType" class="form-control" />
                <span asp-validation-for="MatType" class="text-danger"></span>
            </div>
        </div>
        <!-- Check -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group form-check">
                <input asp-for="Check" class="form-check-input" />
                <label asp-for="Check" class="form-check-label"></label>
                <span asp-validation-for="Check" class="text-danger"></span>
            </div>
        </div>
        <!-- DevicePlant -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="DevicePlant" class="form-label"></label>
                <input asp-for="DevicePlant" class="form-control" />
                <span asp-validation-for="DevicePlant" class="text-danger"></span>
            </div>
        </div>
        <!-- AssemblyPlant -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="AssemblyPlant" class="form-label"></label>
                <input asp-for="AssemblyPlant" class="form-control" />
                <span asp-validation-for="AssemblyPlant" class="text-danger"></span>
            </div>
        </div>
        <!-- IpoPlant -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="IpoPlant" class="form-label"></label>
                <input asp-for="IpoPlant" class="form-control" />
                <span asp-validation-for="IpoPlant" class="text-danger"></span>
            </div>
        </div>
        <!-- AsiOfPlant -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="AsiOfPlant" class="form-label"></label>
                <input asp-for="AsiOfPlant" class="form-control" />
                <span asp-validation-for="AsiOfPlant" class="text-danger"></span>
            </div>
        </div>
        <!-- PriceUnit -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="PriceUnit" class="form-label"></label>
                <input asp-for="PriceUnit" class="form-control" />
                <span asp-validation-for="PriceUnit" class="text-danger"></span>
            </div>
        </div>
        <!-- StorageLocationEP -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="StorageLocationEP" class="form-label"></label>
                <input asp-for="StorageLocationEP" class="form-control" />
                <span asp-validation-for="StorageLocationEP" class="text-danger"></span>
            </div>
        </div>
        <!-- ToolingBSection -->
        <div class="col-md-6" data-types="ToolingB,ToolingB_FG,ToolingB_PU">
            <div class="form-group">
                <label asp-for="ToolingBSection" class="form-label"></label>
                <input asp-for="ToolingBSection" class="form-control" />
                <span asp-validation-for="ToolingBSection" class="text-danger"></span>
            </div>
        </div>
        <!-- PoNumber -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="PoNumber" class="form-label"></label>
                <input asp-for="PoNumber" class="form-control" />
                <span asp-validation-for="PoNumber" class="text-danger"></span>
            </div>
        </div>
        <!-- DateIn -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="DateIn" class="form-label"></label>
                <input asp-for="DateIn" class="form-control" type="date" />
                <span asp-validation-for="DateIn" class="text-danger"></span>
            </div>
        </div>
        <!-- QuotationNumber -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="QuotationNumber" class="form-label"></label>
                <input asp-for="QuotationNumber" class="form-control" />
                <span asp-validation-for="QuotationNumber" class="text-danger"></span>
            </div>
        </div>
        <!-- ToolingBModel -->
        <div class="col-md-6" data-types="ToolingB,ToolingB_FG,ToolingB_PU">
            <div class="form-group">
                <label asp-for="ToolingBModel" class="form-label"></label>
                <input asp-for="ToolingBModel" class="form-control" />
                <span asp-validation-for="ToolingBModel" class="text-danger"></span>
            </div>
        </div>
        <!-- TariffCode -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="TariffCode" class="form-label"></label>
                <input asp-for="TariffCode" class="form-control" />
                <span asp-validation-for="TariffCode" class="text-danger"></span>
            </div>
        </div>
        <!-- Planner -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="Planner" class="form-label"></label>
                <input asp-for="Planner" class="form-control" />
                <span asp-validation-for="Planner" class="text-danger"></span>
            </div>
        </div>
        <!-- CurrentICS -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="CurrentICS" class="form-label"></label>
                <input asp-for="CurrentICS" class="form-control" />
                <span asp-validation-for="CurrentICS" class="text-danger"></span>
            </div>
        </div>
        <!-- PurchasingGroup -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="PurchasingGroup" class="form-label"></label>
                <input asp-for="PurchasingGroup" class="form-control" />
                <span asp-validation-for="PurchasingGroup" class="text-danger"></span>
            </div>
        </div>
        <!-- EditBomFg -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="EditBomFg" class="form-label"></label>
                <input asp-for="EditBomFg" class="form-control" />
                <span asp-validation-for="EditBomFg" class="text-danger"></span>
            </div>
        </div>
        <!-- EditBomAllFg -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group form-check">
                <input asp-for="EditBomAllFg" class="form-check-input" />
                <label asp-for="EditBomAllFg" class="form-check-label"></label>
                <span asp-validation-for="EditBomAllFg" class="text-danger"></span>
            </div>
        </div>
        <!-- Price -->
        <div class="col-md-6" data-types="FG,SM,RM,ToolingB,ToolingB_FG,ToolingB_PU,BOM,AddStorage,DistributionChanel,IPO,Passthrough,CrossPlantPurchase,EditBOM">
            <div class="form-group">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- BOM Components -->
    <div id="bom-container">
        <hr class="my-4">
        <h6>BOM Components</h6>
        <div id="bom-components-list">
            @for (int i = 0; i < Model.Components.Count; i++)
            {
                <div class="row g-3 mb-3 bom-component-row">
                    <div class="col-md-2">
                        <input asp-for="Components[i].Level" class="form-control" placeholder="Level" />
                        <span asp-validation-for="Components[i].Level" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Components[i].Item" class="form-control" placeholder="Item" />
                        <span asp-validation-for="Components[i].Item" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Components[i].ItemCat" class="form-control" placeholder="Item Cat" />
                        <span asp-validation-for="Components[i].ItemCat" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Components[i].ComponentNumber" class="form-control" placeholder="Component Number" />
                        <span asp-validation-for="Components[i].ComponentNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Components[i].Description" class="form-control" placeholder="Description" />
                        <span asp-validation-for="Components[i].Description" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <input asp-for="Components[i].ItemQuantity" class="form-control" placeholder="Qty" />
                        <span asp-validation-for="Components[i].ItemQuantity" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger btn-sm remove-bom-component">Remove</button>
                    </div>
                </div>
            }
        </div>
        <button type="button" id="add-bom-component" class="btn btn-secondary btn-sm">Add BOM Component</button>
    </div>

    <!-- Routings -->
    <div id="routing-container">
        <hr class="my-4">
        <h6>Routings</h6>
        <div id="routings-list">
            @for (int i = 0; i < Model.Routings.Count; i++)
            {
                <div class="row g-3 mb-3 routing-row">
                    <!-- Add routing fields here -->
                    <div class="col-md-2">
                        <input asp-for="Routings[i].Material" class="form-control" placeholder="Material" />
                        <span asp-validation-for="Routings[i].Material" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Routings[i].Description" class="form-control" placeholder="Description" />
                        <span asp-validation-for="Routings[i].Description" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <input asp-for="Routings[i].Counter" class="form-control" placeholder="Counter" />
                        <span asp-validation-for="Routings[i].Counter" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Routings[i].Plant" class="form-control" placeholder="Plant" />
                        <span asp-validation-for="Routings[i].Plant" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="Routings[i].WorkCenter" class="form-control" placeholder="Work Center" />
                        <span asp-validation-for="Routings[i].WorkCenter" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <input asp-for="Routings[i].Operation" class="form-control" placeholder="Operation" />
                        <span asp-validation-for="Routings[i].Operation" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger btn-sm remove-routing">Remove</button>
                    </div>
                </div>
            }
        </div>
        <button type="button" id="add-routing" class="btn btn-secondary btn-sm">Add Routing</button>
    </div>

    <!-- License Permissions -->
    <div id="license-permission-container">
        <hr class="my-4">
        <h6>License Permissions</h6>
        <div id="license-permissions-list">
            @for (int i = 0; i < Model.LicensePermissions.Count; i++)
            {
                <div class="row g-3 mb-3 license-permission-row">
                    <div class="col-md-5">
                        <input asp-for="LicensePermissions[i].SapUsername" class="form-control" placeholder="SAP Username" />
                        <span asp-validation-for="LicensePermissions[i].SapUsername" class="text-danger"></span>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="LicensePermissions[i].TCode" class="form-control" placeholder="T-Code" />
                        <span asp-validation-for="LicensePermissions[i].TCode" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger btn-sm remove-license-permission">Remove</button>
                    </div>
                </div>
            }
        </div>
        <button type="button" id="add-license-permission" class="btn btn-secondary btn-sm">Add License Permission</button>
    </div>
</div>